.demo{
    height: 100px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #252525;
    &__title{
        color: #FFF;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 50px;
    }
    &__subtitle{
        color: #FFF;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }
}